{
  "presets": [
    [
      "@babel/env",
      {
        "debug": true,
        "targets": [
          "last 2 chrome version",
          "last 2 firefox version",
          "last 2 ios version"
        ]
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}